:root {
  --main-black: #171717;
  --main-white: #e6e6e6;
  --main-yellow: #e6d31f;

  --screen-bg: #a7dc32;
  --screen-box-shadow: inset 5px -5px 5px -1px rgba(0, 0, 0, 0.25);

  --screen-value-color: #344c16;
  --screen-border-radius: 10px;
  --screen-wrapper-bg: radial-gradient(50% 50% at 50% 50%, #939a9f 0%, #bbbbbb 100%, #bbbbbb 100%);

  --btn-border: 3px solid #3c4045;

  --btn-clear-bg: #de3495;
  --btn-clear-bg--hover: #be2a7e;
  --btn-clear-bg--active: #a7276f;
  --btn-clear-box-shadow: inset -1px -2px 5px 3px rgba(255, 123, 198, 0.5);

  --btn-delete-bg: #23c2bb;
  --btn-delete-bg--hover: #21b6ae;
  --btn-delete-bg--active: #27a09a;
  --btn-delete-box-shadow: inset -1px -9px 4px 2px rgba(64, 239, 232, 0.5);

  --btn-number-bg: #919296;
  --btn-number-bg--hover: #78797c;
  --btn-number-bg--active: #6c6d70;
  --btn-number-box-shadow: inset 0px -8px 5px 3px rgba(255, 255, 255, 0.27);

  --btn-operator-bg: #5c666a;
  --btn-operator-bg--hover: #4c5558;
  --btn-operator-bg--active: #3e4547;
  --btn-operator-box-shadow: inset -1px -9px 4px rgba(219, 219, 219, 0.25);

  --btn-border-radius: 8px;
  --btn-font-family: "Patrick Hand", cursive;
  --title-font-family: "Crash Scene";
  --screen-value-font-family: "Digital 7";

  --calculator-inner-wrapper-bg: #c6c7c5;
  --calculator-inner-wrapper-box-shadow: inset -4px 1px 9px 15px rgba(103, 103, 103, 0.25);
  --calculator-inner-wrapper-border-radius: 24px;

  --calculator-wrapper-bg: #2f2f2e;
  --calculator-wrapper-box-shadow: 12px 27px 17px 14px rgba(0, 0, 0, 0.18),
    inset -9px -9px 7px -1px rgba(241, 239, 239, 0.15);
  --calculator-wrapper-border-radius: 24px;
}

* {
  box-sizing: border-box;
}
.body {
  background-image: url("../images/background.svg");
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1.5rem 0;
}

.main {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100%;
  width: 100%;
  position: relative;
}
.subtitle {
  display: none;
}

.calculator {
  width: 100%;
  transform: scale(0.9);
}
.calculator__title-container {
  width: 200px;
}
.calculator__title-image {
  width: 100%;
}

.calculator__wrapper {
  margin: 0 auto;
  position: relative;
  height: 416px;
  width: 272px;
  border: 4px solid #24211e;
  box-shadow: var(--calculator-wrapper-box-shadow);
  background: var(--calculator-wrapper-bg);
  border-radius: var(--calculator-wrapper-border-radius);
}

.calculator__inner-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 395px;
  background: var(--calculator-inner-wrapper-bg);
  /* TODO eliminar border o chequear border inner */
  /* border: 2px solid #2F2F2E; */
  box-shadow: var(--calculator-inner-wrapper-box-shadow);
  border-radius: var(--calculator-inner-wrapper-border-radius);
  padding: 1.8rem 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.calculator__header {
  display: flex;
  align-items: center;
}

.calculator__header-logo {
  width: 60px;
}

.calculator__header-solar-panel {
  width: 70px;
  margin-left: auto;
}

.calculator__header-logo-image,
.calculator__header-solar-panel-image {
  width: 100%;
}

.calculator__screen-wrapper {
  width: 100%;
  height: 78px;
  background: var(--screen-wrapper-bg);
  border: 3px solid #3c4045;
  border-radius: var(--screen-border-radius);
  padding: 0.4rem 0.6rem;
}
.calculator__screen {
  width: 100%;
  height: 100%;
  background: var(--screen-bg);
  box-shadow: var(--screen-box-shadow);
  color: var(--screen-value-color);
  border: 3px solid #3c4045;
  border-radius: var(--screen-border-radius);
  display: flex;
  align-items: center;
  justify-content: end;
  overflow: hidden;
  padding: 0.9rem 0.3rem;
}
.calculator__screen-value {
  font-family: var(--screen-value-font-family);
  font-size: 2.4em;
  margin-left: auto;
}

.calculator__body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 0.35rem;
}

.calculator__body-text {
  font-family: var(--btn-font-family);
  margin-left: 1rem;
}
.calculator__body-button {
  width: 100%;
  height: 100%;
  font-size: 1.2em;
  font-family: var(--btn-font-family);
  border: 3px solid #3c4045;
  color: #2d2d2d;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.calculator__body-button-clear {
  background: var(--btn-clear-bg);
  box-shadow: var(--btn-clear-box-shadow);
}
.calculator__body-button-clear:hover {
  background: var(--btn-clear-bg--hover);
}
.calculator__body-button-clear:active {
  background: var(--btn-clear-bg--active);
}

.calculator__body-button-delete {
  background: var(--btn-delete-bg);
  box-shadow: var(--btn-delete-box-shadow);
  font-size: 1.5em;
}
.calculator__body-button-delete:hover {
  background: var(--btn-delete-bg--hover);
}
.calculator__body-button-delete:active {
  background: var(--btn-delete-bg--active);
}
.calculator__body-button-operator,
.calculator__body-button-operator--decimal {
  background: var(--btn-operator-bg);
  box-shadow: var(--btn-operator-box-shadow);
}
.calculator__body-button-operator:hover,
.calculator__body-button-operator--decimal:hover {
  background: var(--btn-operator-bg--hover);
}
.calculator__body-button-operator:active {
  background: var(--btn-operator-bg--active);
}

.calculator__body-button-number {
  background: var(--btn-number-bg);
  box-shadow: var(--btn-number-box-shadow);
}
.calculator__body-button-number:hover {
  background: var(--btn-number-bg--hover);
}
.calculator__body-button-number:active {
  background: var(--btn-number-bg--active);
}
.calculator__body-button-operator--equal {
  grid-column: 4 / 5;
  grid-row: 4 / 6;
}
.calculator__body-button-number--zero {
  grid-column: 1/3;
}

.footer {
  width: 100%;
  background: #e6d31f;
  padding: 0.8rem 0;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.signature {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  width: min(90%, 330px);
  gap: 0.3rem;
}
.signature__first-line {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.signature__decoration {
  width: 25px;
}
.signature__decoration-image {
  width: 100%;
}
.signature__title {
  display: flex;
  align-items: center;
  height: 100%;
  align-self: center;
  text-transform: uppercase;
  font-family: var(--title-font-family);
  font-size: 1.2em;
  color: #2d2d2d;
  text-align: center;
}

.signature__icon-list {
  grid-column: span 3;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}
.signature__icon-container {
  width: 25px;
  display: flex;
  align-items: center;
}

.signature__icon-image {
  width: 100%;
}

@media (min-width: 865px) {
  .header {
    padding: 1rem 0 0 0;
    margin-bottom: -1.5rem;
  }
  .calculator {
    transform: scale(0.8);
  }
}
@media (min-width: 1200px) {
  .header {
    padding: 3rem 0;
  }
  .calculator__title-container {
    width: 300px;
  }
  .calculator {
    transform: scale(0.9);
  }
}
